.header {
  padding-top: 24px;
  padding-bottom: 25px;
  align-items: center;
  background: var(--background-color-header);
}

.header__container {
  display: flex;
}
.header {
  border-bottom: 1px solid var(--color-icons);
}
